<!-- Modal -->
<div class="modal fade" id="email_modal" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Send Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fixed-modal-body">
                <form id="SendEmailForm">
                    <div class="form-group">
                        <label for="sendEmail">Email:</label>
                        <input
                                type="email"
                                class="form-control"
                                id="sendEmail"
                                placeholder="Enter email"
                                required
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button
                        type="button"
                        id="sendEmailLink"
                        class="btn btn-primary"
                        onclick="sendEmailFunction()"
                >
                    Send
                </button>
            </div>
        </div>
    </div>
</div>
