<!-- Modal -->
<div class="modal fade" id="login_modal" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">User LogIn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fixed-modal-body">
                <form id="LoginForm">
                    <div class="form-group">
                        <label for="loginEmail">Email:</label>
                        <input
                                type="email"
                                class="form-control"
                                id="loginEmail"
                                placeholder="Enter email"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Password:</label>
                        <input
                                type="password"
                                class="form-control"
                                id="loginPassword"
                                placeholder="Enter password"
                                required
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="" id="forgetPasswordLink" style="margin-right: auto;" data-bs-toggle="modal"
                   data-bs-target="#email_modal">Forget Password</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button
                        type="button"
                        id="loginbtn"
                        class="btn btn-primary"
                        onclick="LogInUser()"
                >
                    LogIn
                </button>
            </div>
        </div>
    </div>
</div>
