{% extends 'base.html'%}

{% block content%}

<!-- Password Reset Modal -->
<div class="modal fade" id="password_reset_modal" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="passwordResetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordResetModalLabel">Reset Password</h5>
                <a href="{{url_for('form_bp.home')}}" type="button" class="btn-close" aria-label="Close"></a>
            </div>
            <div class="modal-body fixed-modal-body">
                <form id="ResetPasswordForm">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="user_email">Email:</label>
                            <input
                                   type="email"
                                    class="form-control"
                                    id="user_email"
                                    placeholder="Enter email"
                                    required
                                    value="{{ user_email }}"
                                    readonly
                            />
                        </div>
                        <label for="resetPassword">New Password:</label>
                        <input
                                type="password"
                                class="form-control"
                                id="resetPassword"
                                placeholder="Enter new password"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input
                                type="password"
                                class="form-control"
                                id="confirmPassword"
                                placeholder="Confirm new password"
                                required
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('form_bp.home')}}" class="btn btn-secondary">Close</a>

                <button
                        type="button"
                        id="resetPasswordLink"
                        class="btn btn-primary"
                        onclick="resetPasswordFunction()"
                >
                    Reset Password
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
